<h5> Delivery Page Works! </h5>



<ng-container *ngFor="let status of dataStatus; let i = index">

    <ng-container *ngIf="i % 2 === 0">
      <ng-container *ngIf="dataStatus[i + 1]">
        <div class="status-row">
          <div class="status-column">
            <span>{{ status.status }} ({{ getCountForStatus(status.name) }})</span>
          </div>
          <div class="status-column">
            <span>
              {{ dataStatus[i + 1].status }} ({{ getCountForStatus(dataStatus[i + 1].name) }})
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!dataStatus[i + 1]">
        <div class="status-row">
          <div class="status-column">
            <span>{{ status.status }} ({{ getCountForStatus(status.name) }})</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <br *ngIf="i % 2 === 1 || !dataStatus[i + 1]">
  </ng-container> 





