<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados - creados por
    <strong>
      {{'nosotros' | toggleCase:isUpperCase}}
    </strong>
  </p>
</p-panel>

<p-toolbar>

  <div class="group-start">
    <p-button (onClick)="toggleUpperCase()" label="ToggleCase" icon="pi pi-search" class="mr-2"
      styleClass="p-button-danger"></p-button>
  </div>


  <div class="p-toolbar-group-end">
    <p-button (onClick)="changeOrder('name')" label="Por nombre" icon="pi pi-sort" class="mr-2"
      styleClass="p-button-success"></p-button>
    <p-button (onClick)="changeOrder('canFly')" label="Por volar" icon="pi pi-sort" class="mr-2"
      styleClass="p-button-help"></p-button>
    <p-button (onClick)="changeOrder('color')" label="Por color" icon="pi pi-sort" class="mr-2"
      styleClass="p-button-warning"></p-button>
  </div>

</p-toolbar>


<div class="grid">

  <div class="col mt-2">

    <p-panel header="Tabla Héroes">
      <div class="card">
        <p-table [value]="heroes | sortBy:sortBy" [tableStyle]="{ 'min-width': '50rem' }">

          <ng-template pTemplate="header">
            <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-hero>
            <tr>
              <td>{{ hero.name }}</td>
              <td>{{ hero.canFly | canFly | titlecase}}</td>
              <td>{{ hero.color }}</td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </p-panel>

  </div>
</div>
